
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
   <div class="row">
       <div class="col-md-4">

       </div>
       <div class="col-md-8 text-primary">
            <h3 class="text-danger">Identity Projesine Hoş Geldiniz .. </h3>

       </div>
   </div>

    <div class="row m-4">
        <div class="col-md-12">
            <h5 class="text-center">Burası Projenin Anasayfasıdır . Giriş yapıp Member tarafına geçebilirsiniz. </h5>
            <br />
            <br />
            <br />
            <h5 class="text-center">- Fatih Sarıdağ</h5>

        </div>
    </div>


</div>

