
@{
    ViewData["Title"] = "Eskisehir";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="container mt-4">
    <div mb-3>
        <h1 class="text text-primary text-center">Eskişehire Hoşgeldiniz...</h1>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 ">
            <img style="width:100%; height:100%;" src="~/image/eskisehir.jpg" />
        </div>
        <div class="col-md-8">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Porsuk Çayı ve Adalar Bölgesi</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Odunpazarı Evleri</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">Kurşunlu Camii ve Külliyesi</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Şelale Park</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Çiğbörek</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">Sazova Parkı</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light">Kent Park</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Atlıhan El Sanatları Çarşısı</a>
            </div>

        </div>
    </div>
</div>


 

    