
@{
    ViewData["Title"] = "LicensePolicy";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}



<div class="container mt-4">
    <div mb-3>
        <h1 class="text text-primary text-center">Eskişehire Hoşgeldiniz...</h1>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 ">
            <img style="width:100%; height:100%;" src="~/image/Ehliyet.jpg" />
        </div>
        <div class="col-md-8">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">1. Adım: Almak İstediğin Ehliyet Sınıfını Seç</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">2. Adım: Sürücü Kursuna Kaydol</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">3. Adım: Yazılı Sınavı Başarıyla Geç</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">4. Adım: Direksiyon Sınavını Tamamla</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">5. Adım: Sürücü Kursundan Başarı Sertifikanı Al</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">6. Adım: Nüfus Müdürlüğü’ne Başvur</a>
            </div>

        </div>
    </div>
</div>



